[nix]
channel = "stable-25_05"

[workflows]
runButton = "Start Full Stack"

[[workflows.workflow]]
name = "Start Full Stack"
author = 47111017
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && dotnet run"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"
